.jumbotron {
    background-image: url('banner.png');
    height: 60vh !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
