#sidebar {
  height: 90vh;
  background-color: 
  #212121;
}

#nav-card {
  margin: 20px;
  padding: 40px;
  background-color: 
  #2e2e2e;
  border-radius: 20px;
}

#nav-card p {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
}

#active {
  text-decoration: none;
}


