@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Gothic Coding', monospace;
  background-color: #212121;
}

a:hover {
  color: #06d6c7;
}